extends ./lib/main/base.layout.jade
block content
  .jumbotron
    .container
      h1.text-center: small.
        A framework for creating #[strong native] cross-platform, #[br]
        #[strong multi-process] desktop applications
  .container
    pre(style='margin: 0 auto; max-width:280px;').
      npm install -g geldesk-sdk
      geldesk-sdk create myNewApp
    p!= '&nbsp;'
    p.text-center
      a.bn.btn-primary.btn-lg(href=t('url.github') 
        role='button')!= 'GitHub &raquo;'
    p!= '&nbsp;'
    h2(style='padding-left: 20px') How it works
  .jumbotron: .container
    .col-xs-12.col-md-4
      .panel.panel-primary
        .panel-heading: h3.panel-title Hello
        .panel-body.
          Hi There
    .col-xs-12.col-md-4
      .panel.panel-primary
        .panel-heading: h3.panel-title Hello
        .panel-body.
          Hi There
    .col-xs-12.col-md-4
      .panel.panel-primary
        .panel-heading: h3.panel-title Hello
        .panel-body.
          Hi There
